<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allen.liabaryManager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BorrowBookActivity"
            android:exported="true"
            android:label="@string/title_borrow_book">
            <intent-filter>
                <action android:name="android.intent.action.BORROW_BOOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReturnBookActivity"
            android:exported="true"
            android:label="@string/title_return_book">
            <intent-filter>
                <action android:name="android.intent.action.RETURN_BOOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OverdueBooksActivity"
            android:exported="true"
            android:label="@string/title_return_overdue">
            <intent-filter>
                <action android:name="android.intent.action.RETURN_OVERDUE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Other Android components declarations, such as Service, Broadcast Receivers, etc -->

    </application>

</manifest>